<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBS - Barely Built Script</title>
    <style>
    <!-- style for the navigation bar -->
        .navbar {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
    <!-- Get comments -->
    <h1>Leave a Comment</h1>
    <form id="commentForm" method="POST" action="#">
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>
        <input type="submit" value="Submit">
    </form>

    <!-- Display comments -->
    <h2>Comments:</h2>
    <ul id="commentsList">
        {% for comment in comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
    </ul>
    
    <!-- Import js files -->
    <script type="module" src="/static/js/submitComment.js"></script>
    <script type="module" src="/static/js/webrtcLeak.js"></script>
</body>
</html>
